@import "partials/header";
@import "partials/footer";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Background general de sitio */
body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(201,201,201,1) 46%, rgba(158,157,157,1) 68%, rgba(94,93,93,1) 87%, rgba(52,52,52,1) 96%, rgba(0,0,0,1) 100%);
}
/* Index */
.grid-container-index{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: (3, 30%);
    grid-template-rows: (4, 100%);
    grid-template-areas:
    "producto1 logocentral producto2"
    "producto3 logocentral producto4"
    "producto5 logocentral producto6"
    "producto7 logocentral producto8";
}
.producto1{
    @include animacion-producto;
    grid-area: producto1;
    @include flex-producto;
}
#logocentral{
    animation-name: animacionlogo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    grid-area: logocentral;
    margin: 130px;
    @include flex-producto;
}
@keyframes animacionlogo{
    0%{
        transform: rotate(0deg);
    }
    100%{transform: rotate(360deg);
    }
}
.producto2{
    @include animacion-producto;
    grid-area: producto2;
    @include flex-producto;
}
.producto3{
    @include animacion-producto;
    grid-area: producto3;
    @include flex-producto;
}
.producto4{
    @include animacion-producto;
    grid-area: producto4;
    @include flex-producto;
}
.producto5{
    @include animacion-producto;
    grid-area: producto5;
    @include flex-producto;
}
.producto6{
    @include animacion-producto;
    grid-area: producto6;
    @include flex-producto;
}
.producto7{
    @include animacion-producto;
    grid-area: producto7;
    @include flex-producto;
}
.producto8{
    @include animacion-producto;
    grid-area: producto8;
    @include flex-producto;
}
.nombreproducto-precio{
    color: mag-get($texto, color1);
    font-family: map-get($texto, letra1);
    font-size: map-get($texto, sizepc);
    margin-bottom: 10px;
    padding: 5px;
    text-align: $alinear-al-centro;
}
/* Página - Productos */
.titulo-productos{
    @include animacion-producto;
    text-align: map-get($texto, centro);
    font-family: map-get($texto, letra2);
    color: map-get($texto, color2);
    margin: 50px 15px 15px 15px;
    font-size: 50px;
}
.productos{
    animation: flipInX;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-delay: 0s;
    @include background-gradiente;
    @include flex-producto;
    border: groove black;
    text-align: map-get($texto, centro);
    font-family: map-get($texto, letra1);
    color: map-get($texto, color1);
    margin: 50px;
    padding: 30px;
}
/* Página - Diseños */
.titulo-disenos{
    @include animacion-aparecer;   
    @include flex-centrar;
    font-family: map-get($texto, letra2);
    font-size: 50px;
    color: map-get($texto, color2);
}
.texto-disenos{
    @include animacion-producto;
    font-family: map-get($texto, letra1);
}
#galeria img{
    @include animacion-producto;
    width: 100%;
    height: 100%;
}
#galeria .col-lg-4{
    padding: 25px;
    margin: 0 !important;
}
#galeria img:hover{
    border: 2px whitesmoke solid;
}
/* Página - Nosotros */
.conocenos{
    @include animacion-aparecer-abajo;
    @include background-gradiente;
    margin: 100px;
    border: outset 1px #5b5480;
    @include flex-producto;
    box-shadow: 3px 3px #5b5480;
}
.conocenos-titulo{
    text-align: map-get($texto, centro);
    font-family: map-get($texto, letra2);
    color: map-get($texto, color2);
    margin: 50px 15px 15px 15px;
    font-size: 50px;
}
.conocenos-p{
    text-align: map-get($texto, centro);
    font-family: map-get($texto, letra1);
    color: map-get($texto, color1);
    margin: 50px 70px;
}

.como-comprar-p-vinculo{
    text-decoration: none;
    &:hover{color: rgb(25, 170, 151);}
    color: map-get($texto, color1);
    font-family: map-get($texto, letra1);
}

/* Página - Contacto */
.contactanos{
    animation: fadeInUp;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-delay: 0s;
    @include flex-centrar;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: map-get($texto, centro);
    margin: 50px 15px 15px 15px;
    font-size: 50px;
    font-family: map-get($texto, letra2);
    color: map-get($texto, color2);
}
form {
    @include animacion-aparecer;
    @include flex-producto;
    margin-top: 50px;
    font-family: map-get($texto, letra2);
    width: 100%;
}
/* Pie de página */
.grid-container-footer{
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: (3, 100%);
    grid-template-rows: (2, 30%);
    grid-template-areas: 
    "pie-de-pagina pie-de-pagina pie-de-pagina"
    "facebook-logo instagram-logo whatsapp-logo";
}
@media screen and (max-width: 450px) {
    *{
        margin: 0;
        padding: 0;
    }
    /* Background general de sitio */
    body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 21%, rgba(179,179,179,1) 64%, rgba(0,0,0,1) 100%);
    }
    .grid-container-index{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: (1, 50%);
        grid-template-rows: (9, 100%);
        grid-template-areas: 
        "logocentral"
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "producto5"
        "producto6"
        "producto7"
        "producto8";
    }
    .producto1{
        @include animacion-producto;
        grid-area: producto1;
        margin: 30px;
        @include flex-producto;
    }
    #logocentral{
        animation-name: animacionlogo;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        grid-area: logocentral;
        margin: 30px;
        @include flex-producto;
    }
    @keyframes animacionlogo{
        0%{
            transform: rotate(0deg);
        }
        100%{transform: rotate(360deg);
        }
    }
    .producto2{
        @include animacion-producto;
        grid-area: producto2;
        @include flex-producto;
    }
    .producto3{
        @include animacion-producto;
        grid-area: producto3;
        @include flex-producto;
    }
    .producto4{
        @include animacion-producto;
        grid-area: producto4;
        @include flex-producto;
    }
    .producto5{
        @include animacion-producto;
        grid-area: producto5;
        @include flex-producto;
    }
    .producto6{
        @include animacion-producto;
        grid-area: producto6;
        @include flex-producto;
    }
    .producto7{
        @include animacion-producto;
        grid-area: producto7;
        @include flex-producto;
    }
    .producto8{
        @include animacion-producto;
        grid-area: producto8;
        @include flex-producto;
    }
    .nombreproducto-precio{
        color: mag-get($texto, color);
        font-family: map-get($texto, letra1);
        font-size: map-get($texto, sizepc);
        margin-bottom: 10px;
        padding: 5px;
        text-align: $alinear-al-centro;
    }
    /* Página - Productos */
    .titulo-productos{
        text-align: map-get($texto, centro);
        font-family: map-get($texto, letra2);
        margin: 50px 15px 15px 15px;
        font-size: 50px;
    }
    .productos{
        animation: flipInX;
        animation-duration: 1s;
        animation-iteration-count: initial;
        animation-delay: 0s;
        @include background-gradiente;
        @include flex-producto;
        border: groove black;
        text-align: map-get($texto, centro);
        font-family: map-get($texto, letra1);
        color: map-get($texto, color);
        margin: 50px 20px 50px 20px;
        padding: 20px;
    }
    /* Página - Diseños */
    .titulo-disenos{
        @include animacion-aparecer;   
        @include flex-centrar;
        font-family: map-get($texto, letra2);
        font-size: 40px;
        color: map-get($texto, color2);
    }
    .texto-disenos{
        @include animacion-producto;
        font-family: map-get($texto, letra1);
    }
    /* Página - Nosotros */
    .conocenos{
        @include animacion-aparecer-abajo;
        @include background-gradiente;
        margin: 50px 20px 50px 20px;
        padding: 50px;
        border: outset 1px #5b5480;
        @include flex-producto;
        box-shadow: 3px 3px #5b5480;
    }
    .conocenos-titulo{
        text-align: map-get($texto, centro);
        font-family: map-get($texto, letra2);
        margin: 50px 15px 15px 15px;
        font-size: 40px;
    }
    .conocenos-p{
        text-align: map-get($texto, centro);
        font-family: map-get($texto, letra1);
        margin: 50px 30px;
    }

}