@import "partials/header";
@import "partials/footer";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Background general de sitio */
body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 21%, rgba(179,179,179,1) 64%, rgba(0,0,0,1) 100%);
}
/* Index */
.grid-container-index{
    display: grid;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: (3, 100%);
    grid-template-rows: (1, 100%);
    grid-template-areas: "producto1 logocentral producto2"
}
.producto1{
    @include animacion-producto;
    grid-area: producto1;
    margin: 65px;
    @include flex-producto;
}
#logocentral{
    animation-name: animacionlogo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    grid-area: logocentral;
    margin: 130px;
    @include flex-producto;
    position: sticky;
}
@keyframes animacionlogo{
    0%{
        transform: rotate(0deg);
    }
    100%{transform: rotate(360deg);
    }
}
.producto2{
    @include animacion-producto;
    grid-area: producto2;
    @include flex-producto;
}
.nombreproducto-precio{
    color: mag-get($texto, color);
    font-family: map-get($texto, letra1);
    font-size: map-get($texto, sizepc);
    margin-bottom: 20px;
    padding: 15px;
    text-align: $alinear-al-centro;
}
/* Página - Productos */
.titulo-productos{
    text-align: map-get($texto, centro);
    font-family: map-get($texto, letra2);
    margin: 50px 15px 15px 15px;
    font-size: 50px;
}
.productos{
    animation: flipInX;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-delay: 0s;
    @include background-gradiente;
    @include flex-producto;
    border: groove black;
    text-align: map-get($texto, centro);
    font-family: map-get($texto, letra1);
    color: map-get($texto, color);
    margin: 50px 20px 50px 20px;
    padding: 30px;
}
/* Página - Diseños */
.texto-generico-disenos{
    @include animacion-aparecer;
    @include flex-centrar;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../resources/merch.png);
    width: 800px;
    height: 430px;
    background-position-y: bottom;
    margin: 300px; 
    font-size: 50px;
    font-family: map-get($texto, letra2);
    text-align: map-get($texto, centro);
}
/* Página - Nosotros */
.conocenos{
    animation: fadeInDownBig;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-delay: 0s;
    @include background-gradiente;
    margin: 100px;
    border: outset 1px #5b5480;
    @include flex-producto;
    box-shadow: 3px 3px #5b5480;
}
.conocenos-titulo{
    text-align: map-get($texto, centro);
    font-family: map-get($texto, letra2);
    margin: 50px 15px 15px 15px;
    font-size: 50px;
}
.conocenos-p{
    text-align: map-get($texto, centro);
    font-family: map-get($texto, letra1);
    margin: 50px 70px;
}

/* Página - Contacto */
.contactanos{
    animation: fadeInUp;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-delay: 0s;
    @include flex-centrar;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: map-get($texto, centro);
    margin: 50px 15px 15px 15px;
    font-size: 50px;
    font-family: map-get($texto, letra2);
}
form {
    @include animacion-aparecer;
    @include flex-producto;
    margin-top: 50px;
    font-family: map-get($texto, letra2);
    width: 100%;
}
/* Pie de página */
.grid-container-footer{
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: (2, 100%);
    grid-template-rows: (3, 30%);
    grid-template-areas: 
    "pie-de-pagina pie-de-pagina pie-de-pagina"
    "facebook-logo instagram-logo whatsapp-logo";
}
@media screen and (max-width: 400px) {
    *{
        margin: 0;
        padding: 0;
    }
    /* Background general de sitio */
    body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 21%, rgba(179,179,179,1) 64%, rgba(0,0,0,1) 100%);
    }
    .grid-container-index{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: (1, 50%);
        grid-template-rows: (3, 100%);
        grid-template-areas: 
        "logocentral"
        "producto1"
        "producto2"
    }
    .producto1{
        @include animacion-producto;
        grid-area: producto1;
        margin: 30px;
        @include flex-producto;
    }
    #logocentral{
        animation-name: animacionlogo;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        grid-area: logocentral;
        margin: 30px;
        @include flex-producto;
        position: sticky;
    }
    @keyframes animacionlogo{
        0%{
            transform: rotate(0deg);
        }
        100%{transform: rotate(360deg);
        }
    }
    .producto2{
        @include animacion-producto;
        grid-area: producto2;
        @include flex-producto;
    }
    .nombreproducto-precio{
        color: mag-get($texto, color);
        font-family: map-get($texto, letra1);
        font-size: map-get($texto, sizepc);
        margin-bottom: 20px;
        padding: 15px;
        text-align: $alinear-al-centro;
    }
    /* Página - Productos */
    .titulo-productos{
        text-align: map-get($texto, centro);
        font-family: map-get($texto, letra2);
        margin: 50px 15px 15px 15px;
        font-size: 50px;
    }
    .productos{
        animation: flipInX;
        animation-duration: 1s;
        animation-iteration-count: initial;
        animation-delay: 0s;
        @include background-gradiente;
        @include flex-producto;
        border: groove black;
        text-align: map-get($texto, centro);
        font-family: map-get($texto, letra1);
        color: map-get($texto, color);
        margin: 50px 20px 50px 20px;
        padding: 20px;
    }
    /* Página - Diseños */
    .texto-generico-disenos{
        @include animacion-aparecer;
        @include flex-centrar;
        flex-direction: column;
        flex-wrap: wrap;
        background-image: url(../resources/merch.png);
        width: 360px;
        height: 780px;
        background-position-y: bottom;
        margin: 23px; 
        font-size: 50px;
        font-family: map-get($texto, letra2);
        text-align: map-get($texto, centro);
    }
    /* Página - Nosotros */
    .conocenos{
        animation: fadeInDownBig;
        animation-duration: 1s;
        animation-iteration-count: initial;
        animation-delay: 0s;
        @include background-gradiente;
        margin: 50px 20px 50px 20px;
        padding: 50px;
        border: outset 1px #5b5480;
        @include flex-producto;
        box-shadow: 3px 3px #5b5480;
    }
    .conocenos-titulo{
        text-align: map-get($texto, centro);
        font-family: map-get($texto, letra2);
        margin: 50px 15px 15px 15px;
        font-size: 40px;
    }
    .conocenos-p{
        text-align: map-get($texto, centro);
        font-family: map-get($texto, letra1);
        margin: 50px 30px;
    }

}