@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/maps";
@import "../sass2/mixins";

footer {
    margin-top: 50px;
    p{
        @include flex-centrar;
        @extend .header-footer;
        grid-area: pie-de-pagina;
        &:hover{color: whitesmoke;}
    }
    a{
    display: flex;
    flex-direction: row;
    }
.facebook-logo{
    justify-content: flex-end;
    grid-area: facebook-logo;
}
.instagram-logo {
    justify-content: center;
    grid-area: instagram-logo;
}
.whastapp-logo{
    justify-content: flex-start;
    grid-area: whatsapp-logo;
}
}